<a href="https://colab.research.google.com/github/Iamnetis/UMSL-AI/blob/main/Activity_01_python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import platform
print(platform.python_version())

3.6.9

In [ ]:
print 'Hello World'

In [ ]:
print ('Hello World')

Hello World

In [ ]:
x = 3
print (x)
print (type(x))

3
<class 'int'>

In [ ]:
#Assignment operator
print ( x + 1) #Addition
print ( x - 1) #substraction
print ( x * 2) #multiplication
print ( x ** 2) #exponentiation

4
2
6
9

In [ ]:
x += 1
print (x)
x *= 2
print (x)

4
8

In [ ]:
y = 2.5
print (type(y))

<class 'float'>

In [ ]:
x = 100000000000000000000000
print (type(x))
x = 10.6579201
print (type(x))
x = -2.5 + 1.2j
print (type(x))
x = '15.2'
print (type(x))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
#python 2 has twi integer types int and long
x = long(x)

# Boolean

In [ ]:
t, f = True, False
print (type(t))

<class 'bool'>

In [ ]:
print ( t and f) #Logical AND
print ( t or f) ##Logical OR
print (not f) ##Logical NOT
print (t != f) ##Logical XOR

False
True
True
True

# Bitwise vs Logocal Operator

In [ ]:
print ( t & f) #Bitwise AND
print (t | f) #Bitwise OR

False
True

In [ ]:
print  ( 0 < 1 & 0 < 2)
print ( 0 < 1 and 0 < 2)
#This is because th precedence of & and "and"
# & has higher precedence than <; "and" has lower precedence than <

False
True

# String

In [ ]:
hello = 'hello' # string literials can use single quotes
world = "world" #or double quotesl it does not matter.
again = """Hello,
and 
            Welcome""" #or even triple double quotes.

print (hello, len(hello))
print (again)

hello 5
Hello,
and
            Welcome

In [ ]:
cat = hello + ' ' + world #concatenation 
print (cat)

hello world

In [ ]:
print ('%13s %13s %d' % (hello, world, 25))

        hello         world 25

In [ ]:
print (f'I want to say {hello} to the {world}...')

I want to say hello to the world...

In [ ]:
print (hello + world + str(12))

helloworld12

In [ ]:
a = 'hello' 
print (a.capitalize()) # This will capitalize a string
print (a.upper()) # This will convert string to uppercase
print(a.lower()) #  This will convert string to Lowercase
print (a.rjust(15)) # RIght justify a string
print (a.center(15)) # Center a stirng
print (a.replace('o', '000')) # Replace first value with second one.
print ('     world'.strip()) # Strip will remove whitespace 

b = 'hello                world               good            Morning'

name = b.split() #Detects whitespaces automatically
print (name[0], name[2])

Hello
HELLO
hello
          hello
     hello
hell000
world
hello good

# Containers


1.   List
2.   Dictionaries
3. Sets

4. Tuples

In [ ]:
#LIST

xs = [3, 1, 1, 2] #Creating a list
print (xs, xs[2])
print (xs[-1]) #Negative incicates we have to start from the last of the list
print (xs[-2])

[3, 1, 1, 2] 1
2
1

In [ ]:
xs[2] = 'Nitesh' #Replacing index 2 with "Nitesh"
print (xs)

[3, 1, 'Nitesh', 2]

In [ ]:
xs.append('kafle') #Adding "kafle" in a list
print (xs) # Append adds new elements in last.

[3, 1, 'Nitesh', 2, 'kafle']

In [ ]:
x = xs.pop() # {.pop}Removes the last element from the list
print (x, xs)

kafle [3, 1, 'Nitesh', 2]

In [ ]:
xs = [3,1,5,2,4,6]
xs2 = [10, 11, 12]
xs.append(xs2) # Append will add new list inside of existing list
print (xs)

[3, 1, 5, 2, 4, 6, [10, 11, 12]]

In [ ]:
xs_another = [100, 1000, 2000]
xs.extend(xs_another) # Extend will add one list to another list
print (xs)

[3, 1, 5, 2, 4, 6, [10, 11, 12], 100, 1000, 2000]

# Slicing

In [ ]:
nums = range(5)
print (nums)
print (type(nums))

range(0, 5)
<class 'range'>

In [ ]:
nums = [0, 1, 2, 3, 4]
print (nums[2:4])
print (nums[2:])
print (nums[:2])
print (nums[:])
print (nums[-1])

[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
4

In [ ]:
nums[2:4] = [10, 11, 12, 16, 15]
print (nums)

[0, 1, 10, 11, 12, 16, 15, 4]

In [ ]:
print (nums[:6])

[0, 1, 10, 11, 12, 16]

In [ ]:
nums [2:3] = [11,12,13]
print (nums)

[0, 1, 11, 12, 13, 11, 12, 16, 15, 4]

In [ ]:
nums [3:4] = [33, 22, 44, 9, 50, 23 ]
print (nums)

[0, 1, 11, 33, 22, 44, 9, 50, 23, 13, 11, 12, 16, 15, 4]

# Loops

In [ ]:
animals = ['cat', 'dog', 'monkey']
i = 0
for animal in animals:
    i = i + 1
    print (animal)

cat
dog
monkey

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals): #Enumerate is used to access index and the element
    print (idx +1, animal)

1 cat
2 dog
3 monkey

# List Comprehension

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
    print (squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]

In [ ]:
#List Comprehension
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print (squares)

[0, 1, 4, 9, 16]

In [ ]:
# We can use condition too in list comprehension
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares)

[0, 4, 16]

# Dictionaries

In [ ]:
d = {'cat':'cute', 'dog':'furry'} # Creating a dictionary with some data
print (d['cat']) # Get an entry from a dictionary
print ('cat' in d) # Output will be on boolean format

cute
True

In [ ]:
d['fish'] = 'wet' #set an entry in a dictionary
print (d['fish'])

wet

In [ ]:
print (d['monkey']) #This doesnt exists

In [ ]:
print(d.get('monkey', 'N/A')) # This will used when you are not sure we have a value of a key or not. If not we will get "N/A"
print(d.get('fish', 'N/A'))

N/A
wet

In [ ]:
del d ['fish'] # removing a element
print (d.get('fish', 'N/A')) # We have removed the key of a value.

N/A

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8 }
for animal  in d:
    legs = d[animal]
    print ('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8 }
for animal, legs in d.items():
    print(' A %s has %d legs' % (animal, legs))

 A person has 2 legs
 A cat has 4 legs
 A spider has 8 legs

In [ ]:
d = {'a': 2, 'c': 4, 'd': 1, 'b': 10}
for animal, legs in sorted(d.items(), key = lambda x: x [0]):
    print ('%s - %d' % (animal, legs))
# I have to see how Lambda function works...
    print ('')
for animal, legs in sorted(d.items(), key = lambda x: x[1]):
    print ( '%s - %d' % (animal, legs))

a - 2

b - 10

c - 4

d - 1

d - 1
a - 2
c - 4
b - 10

# Dictionary Comprehension

In [ ]:
nums = [0, 1, 2, 3, 4,]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print (even_num_to_square)

{0: 0, 2: 4, 4: 16}

# Sets

In [ ]:
animals = {'cat', 'dog', 'cat'} #sets can't have multiple items
print (animals)

{'dog', 'cat'}

In [ ]:
animals = ['cat', 'dog', 'cat']
print (animals)
animals = set(animals) #converting into set using 'set' function
print (animals)

['cat', 'dog', 'cat']
{'dog', 'cat'}

In [ ]:
animals.add('fish')
print ('fish' in animals) 
print(len(animals)) # Total number of a elements in a set.

True
3

In [ ]:
animals.add('cat') # adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat') #Removing an element for a set
print(len(animals))

3
2

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('%d: %s' % (idx + 1, animal))

1: fish
2: dog
3: cat

In [ ]:
from math import sqrt
myset = {int(sqrt(x)) for x in range(30)}
print (myset)

{0, 1, 2, 3, 4, 5}

# Tuple

In [ ]:
d =  {(x, x + 1): x for x in range (10)} # creating a dictionary with tuple keys
print (d)
t = (5,6) # creating tuple
print (type(t))
print (d[t])
print (d[(1,2)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

In [ ]:
t[0] = 1 #tuple is immutable(you cannot change once created)

# Function

In [ ]:
def sign (x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print (sign(x))

negative
zero
positive

In [ ]:
def hello(name, loud = False):
    if loud:
        print ('HELLO, %s' % name.upper())
    else:
        print ('Hello, %s' % name)

In [ ]:
hello()

In [ ]:
hello('Nitesh')

Hello, Nitesh

In [ ]:
hello('Nitesh', True)

HELLO, NITESH

# Classes

In [ ]:
class A:
    def print_something(self):
        print ('something')

a = A()
a.print_something()

something

In [ ]:
class Greeter:
    name = ""
    #constructor 
    def __init__(self, name):
        self.name = name #create an instance variable

        #Instance method 
    def greet(self, loud = False):
        if loud:
            print ('HELLO')
        else:
            print('Hello')

In [ ]:
g = Greeter("Nitesh") #Construct an instance of the Greather class
g.greet() #call an instance method
g.greet(loud=True) #call an instance method

Hello
HELLO